/node_modules
/public/hot
/public/storage
/public/fotos_new
/public/img
/public/img_temp
/storage/*.key
/vendor
.osp
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/forum/config.php
/public/forum/cache/
/public/forum/files/
/public/forum/images/avatars/upload/
/public/forum/ANTQUAB.TTF
/public/forum/arial.ttf
/public/build
/2985ac2e5fba128e432d8e4c54a11c6f
/config/app.php
/config/database.php