/*mobile*/
@media screen and (max-width: 980px) {
	.for-mob {display:block;}
	.for-pc, .namesMW2.for-pc {display:none;}

	.overHtml { width:100%; }
	header { height:75px; }
	.logo {
		width:137px; 
		height:61px; 
		right:18px;
		top:15px;
		background-size: 90%;
	}

	.logo-title {
		max-width:314px; 
		margin-right:155px; 
		height:75px;
		background:url('../image/logo_mob2.png') 0 0 no-repeat;
	}

	.logo-mob {display:table; max-width:314px; margin-right:155px; height:75px; padding-left:10px; vertical-align:middle;}
	.logo-mob span {display:table-cell; height:75px; vertical-align:middle;}
	.logo-mob img {width:100%;}
	.mob-menu-icon {display:block; width:37px; height:26px;  background:url('../image/mob_menu.png') 0 0 no-repeat; position:absolute; right:10px; top:12px; cursor:pointer;}
	#hBaner {display:none;}
	
	#leftcol {display:none;}
	#rightcol {display:none;}
	#content {padding:0;}
	#content .fLine.mrg1 {margin-top:3px;}

	#hMenu .fFirst {width:10px;}
	#hMenu .fLast {width:10px;}
	#cPad {padding-right:0; padding-left:0px;}
	h1.mTit {padding-left:10px; padding-right:10px;}
	
	#mDescr {display:none;}
	
	#mDnev {display:block; padding-left:10px; padding-right:10px; width:auto;}
	.mDnevTr {display:block;}
	.mDnevTd {display:block; width:100%;}
	#mDnev .mDnevTd dl {width:50%; float:left; clear:none;}

	div#cPad {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	div.dnevnik {margin-left:-10px; margin-right:-10px;}
	.dnevnik .name_man a {left:10px;}
	.dnevnik .name_man p {right:10px;}
	.dnevnik div.dnevPict {padding-left:10px;}
	.dnevnik .dnevText {padding-right:10px; padding-left: 10px;}
	a.comLink {padding-right:0;}
	
	footer>div:nth-child(1) {
		flex: 0 0 calc(100% - 30px - 30px);
	}
	
	.mob-copyrights {
		display: block;
		text-align: center;
		padding: 10px;
		min-height: 0;
	}

	a.comLink.all-dnev-link {padding: 40px 10px; text-align: center !important;}
}

@media screen and (max-width: 550px) {
	.logo-title { 
		left:10px;
	}
	.add-comment-table {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {

	footer:before,
	footer::after,
	.top-menu:before,
	.top-menu:after {
		width: 10px;
	}

	footer>div:nth-child(1) {
		flex: 0 0 calc(100% - 10px - 10px);
		margin-left: 10px;
	}

	.top-menu ul {
		width: calc(100% - 10px - 10px);
		margin-left: 10px;
	}

	.form-row {
	    flex-direction: column;
    	align-items: stretch;
  	}

	 .form-row-checkbox {
		flex-direction: unset;
 	}

	.form-row > label {
		flex: none;
		width: 100%;
		text-align: center;
	}

	.form-row-checkbox label {
		text-align: right;
		flex: 0 1 50%;
	}

	.form-row .select,
	.form-row #country, 
	.form-row #region,
	.form-row #city {
		width: 100%;
	}

	.range {
		margin: 0 auto;
	}

	.range label {
		flex: 0 1 0;
	}
}

@media screen and (max-width: 450px) {
	.input, 
	.button,
	.mob-menu-subm {
		width: 100%;
	}
	.logo-title { 
		background-size: 70%; 
	}

	.sexRegForm, 
	.sexRegForm tbody,
	.sexRegForm tr:first-child,
	.sexRegForm tr > td:first-child {
		display: block;
		padding-right: 0;
	}

	.sexRegForm tr > td:first-child {
		padding-bottom: 10px;
	}

	.sexRegForm tr:nth-child(2) td:first-child {
		padding-bottom: 0;
	}

	.sexRegForm tr:nth-child(2) td:first-child input {
		vertical-align: middle;
	}
}

@media screen and (max-width: 400px) {
	.logo {
		display: none;
	}
	
	.logo-title {
		max-width: calc(100% - 10px);
	}
	
	.bottom-menu li:last-child {
		display: none;
	}

	.profile-list-container .profile-brief {
    	flex: 0 0 100%;
	}

	.profile-brief-content {
 		padding-left: 0px;
		text-align: center;
  		width: 100%;
	}

	.profile-brief-image {
		width: 100%;
		flex: 0 0 100%;
		padding-bottom: 10px;
	}

	.profile-brief-image a {
		width: 100%;
		height: auto;
		left: 0px;
	}

	.profile-brief-image img {
		width: 100%;
		height: auto;
		aspect-ratio: 0.9;
		top:0;
	}
}

@media screen and (max-width: 360px) {
	#hMenu td:nth-child(2), 
	.top-menu li:first-child { 
		display:none; 
	}
}