<div class="but_lnk">
<ul class="link">
<!--<li class="lnk">Ремонт <a href="./index.php" class="but_lnk">квартир и коттеджей</a></li>-->
<li class="rightside">
<noindex>
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank rel=nofollow><img src='http://counter.yadro.ru/hit?t11.6;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодн\я' "+
"border=0 width=88 height=31><\/a>")//--></script><!--/LiveInternet-->
<!--Rating@Mail.ru COUNTEr--><script language="JavaScript" type="text/javascript"><!--
d=document;var a='';a+=';r='+escape(d.referrer)
js=10//--></script><script language="JavaScript1.1" type="text/javascript"><!--
a+=';j='+navigator.javaEnabled()
js=11//--></script><script language="JavaScript1.2" type="text/javascript"><!--
s=screen;a+=';s='+s.width+'*'+s.height
a+=';d='+(s.colorDepth?s.colorDepth:s.pixelDepth)
js=12//--></script><script language="JavaScript1.3" type="text/javascript"><!--
js=13//--></script><script language="JavaScript" type="text/javascript"><!--
d.write('<a href="http://top.mail.ru/jump?from=1298829"'+
' target=_top rel=nofollow><img src="http://d1.cd.b3.a1.top.list.ru/counter'+
'?id=1298829;t=133;js='+js+a+';rand='+Math.random()+
'" alt="Рейтинг@Mail.ru"'+' border=0 height=40 width=88/><\/a>')
if(11<js)d.write('<'+'!-- ')//--></script><noscript><a
target=_top href="http://top.mail.ru/jump?from=1298829" rel="nofollow"><img
src="http://d1.cd.b3.a1.top.list.ru/counter?js=na;id=1298829;t=133"
border=0 height=40 width=88
alt="Рейтинг@Mail.ru"/></a></noscript><script language="JavaScript" type="text/javascript"><!--
if(11<js)d.write('--'+'>')//--></script><!--/COUNTER-->
<!--begin of Rambler's Top100 code -->
<a href="http://top100.rambler.ru/top100/" rel="nofollow">
<img src="http://counter.rambler.ru/top100.cnt?1220117" alt="" width=1 height=1 border=0></a><!--end of Top100 code--><!--begin of Top100 logo--><a href="http://top100.rambler.ru/top100/" rel="nofollow"><img src="http://top100-images.rambler.ru/top100/w9.gif" alt="Rambler's Top100" width=88 height=31 border=0></a><!--end of Top100 logo -->
</noindex>
</li>
</ul>
</div>
<div class="menu_line">
<table><tr><td class="line_brown"><img alt="Зеро" src="./styles/violla/theme/images/zero.gif" /></td></tr></table>
<table>
<tr id="id3">
<td width="30" class="vert_line2"></td>
<td class="vert_line"></td>
<td class="vert_line2"><a href="http://www.avioletta.ru">Главная</a></td>
<td class="vert_line"></td>
<td class="vert_line2"><a href="http://www.avioletta.ru/search/">Поиск</a></td>
<td class="vert_line"></td>
<td class="vert_line2"><a href="http://www.avioletta.ru/ankets/">Анкеты</a></td>
<td class="vert_line"></td>
<td class="vert_line2"><a href="http://www.avioletta.ru/forum/">Форум</a></td>
<td class="vert_line"></td>
<td class="vert_line2"><a href="http://www.avioletta.ru/sitemap/">Карта сайта</a></td>
<td class="vert_line"></td>
<td class="vert_line2"><a href="http://www.avioletta.ru/contacts/">Контакты</a></td>
<td class="vert_line"></td>
<td class="vert_line2">2006-2024 Бесплатный сайт знакомств Виолетта</td>
<td class="vert_line"></td>
<td width="30" class="vert_line2"></td></tr></table></div>
<!--<div class="footer">&nbsp
Заметка
</div>-->
<!-- IF U_ACP --><div class="adm_r">
<a href="{U_ACP}" class="but_lnk">{L_ACP}</a></div><!-- ENDIF -->
</div>
</body></html>