<div class="but_lnk">
<ul class="link">
<li class="lnk">Ремонт <a href="./index.php" class="but_lnk">квартир и коттеджей</a></li>
<li class="rightside">
    <img src="./styles/violla/theme/images/count3.jpg" />
    <img src="./styles/violla/theme/images/count2.jpg" />
    <img src="./styles/violla/theme/images/count1.jpg" />
</li>
</ul>
</div>
<div class="menu_line">
<table><tr><td class="line_brown"><img alt="Зеро" src="./styles/violla/theme/images/zero.gif" /></td></tr></table>
<table>
<tr id="id3">
<td width="30" class="vert_line2"></td>
<td class="vert_line"></td>
<td class="vert_line2"><a href="http://www.avioletta.ru">Главная</a></td>
<td class="vert_line"></td>
<td class="vert_line2"><a href="index.php?mod=forum">Поиск</a></td>
<td class="vert_line"></td>
<td class="vert_line2"><a href="index.php?mod=search">Анкеты</a></td>
<td class="vert_line"></td>
<td class="vert_line2"><a href="index.php?mod=ankets">Форум</a></td>
<td class="vert_line"></td>
<td class="vert_line2"><a href="index.php?mod=ankets">Карта сайта</a></td>
<td class="vert_line"></td>
<td class="vert_line2"><a href="index.php?mod=ankets">Контакты</a></td>
<td class="vert_line"></td>
<td class="vert_line2">2006-2009 Бесплатный сайт знакомств Виолетта</td>
<td class="vert_line"></td>
<td width="30" class="vert_line2"></td></tr></table></div>
<div class="footer">
Ремонт <a href="./index.php" class="but_lnk">квартир и коттеджей</a>
Ремонт <a href="./index.php" class="but_lnk">квартир и коттеджей</a>
Ремонт <a href="./index.php" class="but_lnk">квартир и коттеджей</a>
</div>
<div class="adm_r">
<a href="./index.php" class="but_lnk">Администраторский раздел</a></div>
</div>
</body></html>
