<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=windows-1251" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-language" content="ru-ru" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="resource-type" content="document" />
<meta name="distribution" content="global" />
<meta name="copyright" content="Виолетта сайт знакомств" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>forum glavnaya stranica</title>
<link href="./styles/violla/theme/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div>
<div class="head">
<table><tr><td>
<table><tr><td class="logo" colspan="3"><a href="http://www.avioletta.ru"><img alt="Sait znakomstv" src="./styles/violla/theme/images/logo.jpg"/></a></td></tr>
<tr><td id="id1"><h1><i>Форум знакомств</i></h1></td></tr></table></td><td id="id2"></td>
<td class="logo2"><a href="http://www.avioletta.ru"><img alt="Сайт знакомств" src="./styles/violla/theme/images/chuvaki.jpg"/></a></td></tr></table></div>
<div class="menu_line">
<table><tr><td class="line_brown"><img alt="Зеро" src="./styles/violla/theme/images/zero.gif" /></td></tr></table>
<table>
<tr id="id3">
<td width="30" class="vert_line2"></td>
<td class="vert_line"></td>
<td class="vert_line2"><a href="http://www.avioletta.ru">Главная</a></td>
<td class="vert_line"></td>
<td class="vert_line2"><a href="index.php?mod=forum">Форум</a></td>
<td class="vert_line"></td>
<td class="vert_line2"><a href="index.php?mod=search">Поиск</a></td>
<td class="vert_line"></td>
<td class="vert_line2"><a href="index.php?mod=ankets">Анкеты</a></td>
<td class="vert_line"></td>
<td class="vert_line2"><a href="index.php?mod=ankets">Значение имени</a></td>
<td class="vert_line"></td>
<td class="vert_line2"><a href="index.php?mod=ankets">Гороскопы</a></td>
<td class="vert_line"></td>
<td class="vert_line2"><a href="index.php?mod=ankets">Дневники</a></td>
<td class="vert_line"></td>
<td width="30" class="vert_line2"></td></tr></table></div>
<div class="menu2">
<table>
<tr><td>
<ul class="linklist">
<li class="icon-home"><a href="./index.php">Список форумов</a></li></ul>
<ul class="linklist">
<li class="icon-faq"><a href="./faq.php" title="Часто задаваемые вопросы">FAQ</a></li>
<li class="icon-members"><a href="./memberlist.php" title="Просмотр всего списка пользователей">Пользователи</a></li>
<li class="icon-logout"><a href="./ucp.php?mode=logout&amp;sid=f34e0383d6816c00e63cc4b5c7fa4086" title="Выход [ Administrator ]" accesskey="l">Выход [ Administrator ]</a></li></ul>
<ul class="linklist padd1">
<li class="icon-ucp"><a href="./ucp.php" title="Личный раздел" accesskey="u" class="marg1">Личный раздел</a>(<a href="./ucp.php?i=pm&amp;folder=inbox">Новых ЛС: <strong>0</strong></a>) &bull;
<a href="./search.php?search_id=egosearch" class="marg1">Ваши сообщения</a></li></ul></td>
<td align="right">
<div class="navbar"><span class="corners-top"><span></span></span>
<form action="./search.php" method="post">
<fieldset>
<a class="search" href="./search.php" title="Параметры расширенного поиска">Расширенный поиск</a>
<input name="keywords" id="keywords" type="text" maxlength="128" title="Ключевые слова" class="inputbox search" value="Поиск…" onclick="if(this.value=='Поиск…')this.value='';" onblur="if(this.value=='')this.value='Поиск…';" />
<input class="button2" value="Поиск" type="submit" /></fieldset></form>
<span class="corners-bottom"><span></span></span></div>
<div class="time_r">
<p>Время на сайте: 29 января 2009, 12:33</p>
<p>Последнее посещение: 29 января 2009, 12:33</p>
</div>
</td></tr></table>
</div>

	<a id="top" name="top" accesskey="t"></a>
	<div id="page-header">
		<div class="headerbar">
			<div class="inner"><span class="corners-top"><span></span></span>

			<div id="site-description">
				<a href="{U_INDEX}" title="{L_INDEX}" id="logo">{SITE_LOGO_IMG}</a>
				<h1>{SITENAME}</h1>
				<p>{SITE_DESCRIPTION}</p>
				<p style="display: none;"><a href="#start_here">{L_SKIP}</a></p>
			</div>

		<!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
			<div id="search-box">
				<form action="{U_SEARCH}" method="post" id="search">
				<fieldset>
					<input name="keywords" id="keywords" type="text" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search" value="<!-- IF SEARCH_WORDS-->{SEARCH_WORDS}<!-- ELSE -->{L_SEARCH_MINI}<!-- ENDIF -->" onclick="if(this.value=='{LA_SEARCH_MINI}')this.value='';" onblur="if(this.value=='')this.value='{LA_SEARCH_MINI}';" /> 
					<input class="button2" value="{L_SEARCH}" type="submit" /><br />
					<a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}">{L_SEARCH_ADV}</a> {S_SEARCH_HIDDEN_FIELDS}
				</fieldset>
				</form>
			</div>
		<!-- ENDIF -->

			<span class="corners-bottom"><span></span></span></div>
		</div>

		<div class="navbar">
			<div class="inner"><span class="corners-top"><span></span></span>

			<ul class="linklist navlinks">
				<li class="icon-home"><a href="{U_INDEX}" accesskey="h">{L_INDEX}</a> <!-- BEGIN navlinks --> <strong>&#8249;</strong> <a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a><!-- END navlinks --></li>

				<li class="rightside"><a href="#" onclick="fontsizeup(); return false;" onkeypress="fontsizeup(); return false;" class="fontsize" title="{L_CHANGE_FONT_SIZE}">{L_CHANGE_FONT_SIZE}</a></li>

				<!-- IF U_EMAIL_TOPIC --><li class="rightside"><a href="{U_EMAIL_TOPIC}" title="{L_EMAIL_TOPIC}" class="sendemail">{L_EMAIL_TOPIC}</a></li><!-- ENDIF -->
				<!-- IF U_EMAIL_PM --><li class="rightside"><a href="{U_EMAIL_PM}" title="{L_EMAIL_PM}" class="sendemail">{L_EMAIL_PM}</a></li><!-- ENDIF -->
				<!-- IF U_PRINT_TOPIC --><li class="rightside"><a href="{U_PRINT_TOPIC}" title="{L_PRINT_TOPIC}" accesskey="p" class="print">{L_PRINT_TOPIC}</a></li><!-- ENDIF -->
				<!-- IF U_PRINT_PM --><li class="rightside"><a href="{U_PRINT_PM}" title="{L_PRINT_PM}" accesskey="p" class="print">{L_PRINT_PM}</a></li><!-- ENDIF -->
			</ul>

			<!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
			<ul class="linklist leftside">
				<li class="icon-ucp">
					<a href="{U_PROFILE}" title="{L_PROFILE}" accesskey="u">{L_PROFILE}</a>
						<!-- IF S_DISPLAY_PM --> (<a href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO}</a>)<!-- ENDIF --> &bull; 
					<a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a>
					<!-- IF U_RESTORE_PERMISSIONS --> &bull;
					<a href="{U_RESTORE_PERMISSIONS}">{L_RESTORE_PERMISSIONS}</a>
					<!-- ENDIF -->
				</li>
			</ul>
			<!-- ENDIF -->

			<ul class="linklist rightside">
				<li class="icon-faq"><a href="{U_FAQ}" title="{L_FAQ_EXPLAIN}">{L_FAQ}</a></li>
				<!-- IF not S_IS_BOT -->
					<!-- IF S_DISPLAY_MEMBERLIST --><li class="icon-members"><a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}">{L_MEMBERLIST}</a></li><!-- ENDIF -->
					<!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED --><li class="icon-register"><a href="{U_REGISTER}">{L_REGISTER}</a></li><!-- ENDIF -->
					<li class="icon-logout"><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="l">{L_LOGIN_LOGOUT}</a></li>
				<!-- ENDIF -->
			</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>

	</div>

	<a name="start_here"></a>
	<div id="page-body">
		
		 <!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) --> 
		<div id="message" class="rules">
			<div class="inner"><span class="corners-top"><span></span></span>
				<strong>{L_INFORMATION}:</strong> {L_BOARD_DISABLED}
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- ENDIF -->
